.stats {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    text-align: center;
    background-image: url('../../images/stats.jpeg');
    background-size: cover;
    position: relative;
}

.stats::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(31, 32, 33, 0.233);
    top: 0;
    left: 0;
}

.stats .container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
}


.stats .container .box {
    color: white;
    padding: 50px;
    background-color: var(--transparent-color);
}

.stats .container .box .icon {
    width: 40px;
    height: 40px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin: 20px auto;
}

.stats .container .box .number {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
}

.stats .container .box p {
    text-transform: capitalize;
    font-weight: normal;
}